- name: Wait for 3Scale Admin service to be available
  uri: url="http://system-provider.3scale.svc.cluster.local:3000" status_code=200
  register: threescale_wait
  until: threescale_wait.status == 200
  retries: 60
  delay: 10
  tags:
    - 3scale_config
- name: Get ADMIN_ACCESS_TOKEN 
  command: oc env dc system-app -n 3scale -c 'system-provider' -o jsonpath='{$.spec.template.spec.containers[?(@.name=="system-provider")].env[?(@.name=="ADMIN_ACCESS_TOKEN")].value}'
  register: access_token
  tags:
     - 3scale_config
- name: Install jmespath
  command: easy_install jmespath
  tags:
    - 3scale_config
- name: Create API
  uri:
    url: http://system-provider.3scale.svc.cluster.local:3000/admin/api/services.json
    method: POST
    body: "access_token={{access_token.stdout}}&name=RHTravel+API&system_name=rhtravel_api"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  register: service
  tags:
     - 3scale_config
- set_fact: 
    service_id: "{{ service.json |  json_query('service.id') }}"
  tags:
     - 3scale_config
- set_fact:
    fuse_service_id: "{{ service_id }}"
  tags:
     - 3scale_config
- debug: 
    msg: "service ID: {{ service_id }}"
  tags:
     - 3scale_config
- lineinfile:
    dest: group_vars/all
    regexp: '^fuse_service_id:'
    line: "fuse_service_id: {{ fuse_service_id }}"
  tags:
    - 3scale_config
- name: Get Metric ID
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/services/{{ service_id }}/metrics.json"
    method: GET
    body: "access_token={{access_token.stdout}}"
    status_code: 200
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  register: metric
  tags:
    - 3scale_config
- set_fact: 
    metric_id: "{{metric.json | json_query('metrics[0].metric.id')}}"
  tags:
     - 3scale_config
- debug:
    msg: "metric ID: {{ metric_id }}"
  tags:
     - 3scale_config
- name: Create Method - Hotel
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/services/{{ service.json.service.id }}/metrics/{{ metric_id  }}/methods.json"
    method: POST
    body: "access_token={{access_token.stdout}}&friendly_name=Book+Hotel&system_name=book_hotel&unit=hit"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  tags:
     - 3scale_config
- name: Create Method - Car
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/services/{{ service.json.service.id }}/metrics/{{ metric_id  }}/methods.json"
    method: POST
    body: "access_token={{access_token.stdout}}&friendly_name=Book+Car&system_name=book_car&unit=hit"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  tags:
     - 3scale_config
- name: Create Method - Flight
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/services/{{ service.json.service.id }}/metrics/{{ metric_id  }}/methods.json"
    method: POST
    body: "access_token={{access_token.stdout}}&friendly_name=Book+Flight&system_name=book_flight&unit=hit"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  tags:
     - 3scale_config
- name: Create Method - Bookings
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/services/{{ service.json.service.id }}/metrics/{{ metric_id  }}/methods.json"
    method: POST
    body: "access_token={{access_token.stdout}}&friendly_name=Booking&system_name=bookings&unit=hit"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  tags:
     - 3scale_config
- name: Create Method - Discount
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/services/{{ service.json.service.id }}/metrics/{{ metric_id  }}/methods.json"
    method: POST
    body: "access_token={{access_token.stdout}}&friendly_name=Discount&system_name=discount&unit=hit"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  tags:
     - 3scale_config
- name: Create Account Plan
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/account_plans.json"
    method: POST
    body: "access_token={{access_token.stdout}}&name=RHTravel+Premium+Plan&system_name=rhtravel_premium"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  register: account_plan
  tags:
     - 3scale_config
- set_fact:
    account_plan_id: "{{ account_plan.json |  json_query('account_plan.id') }}"
  tags:
     - 3scale_config
- debug:
    msg: "Account Plan ID: {{account_plan_id}}"
  tags:
     - 3scale_config
- name: Create Application Plan
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/services/{{ service_id }}/application_plans.json"
    method: POST
    body: "access_token={{access_token.stdout}}&name=RH+Travel+Premium+Plan&system_name=rhtravel_premium_plan"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  register: application_plan
  tags:
     - 3scale_config
- set_fact:
    application_plan_id: "{{ application_plan.json |  json_query('application_plan.id') }}"
  tags:
     - 3scale_config
- name: Create Service Plan
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/services/{{ service_id }}/service_plans.json"
    method: POST
    body: "access_token={{access_token.stdout}}&name=RHTravel+Service+Plan&system_name=rhtravel_service_plan"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  register: service_plan
  tags:
     - 3scale_config
- set_fact:
    service_plan_id: "{{ service_plan.json |  json_query('service_plan.id') }}"
  tags:
     - 3scale_config
- name: Create Account
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/signup.json"
    method: POST
    body: "access_token={{access_token.stdout}}&org_name=RH+Travel&username=rhtravel&email=rhtravel%40rhtravel.com&password=rhtravel%40rhtravel.com&account_plan_id={{ account_plan_id }}&service_plan_id={{ service_plan_id }}&application_plan_id={{ application_plan_id}}"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  register: account
  tags:
     - 3scale_config
- set_fact:
    account_id: "{{ account.json | json_query('account.id') }}"
  tags:
    - 3scale_config
- name: Wait for Account creation
  pause:
    seconds: 10
  tags:
    - 3scale_config
- debug:
    msg: "params: app_plan_id: {{application_plan_id}}, "
  tags:
    - 3scale_config
- name: Create Application
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/accounts/{{ account_id }}/applications.json"
    method: POST
    body: "access_token={{access_token.stdout}}&plan_id={{ application_plan_id}}&name=RHTravel&description=RHTravel+App"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  register: application
  tags:
     - 3scale_config
- set_fact:
    fuse_user_key: "{{ application.json | json_query('application.user_key') }}"
  tags:
    - 3scale_config
- lineinfile:
    dest: group_vars/all
    regexp: '^fuse_user_key:'
    line: "fuse_user_key: {{ fuse_user_key }}"
  tags:
    - 3scale_config
- name: Configure Proxy
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/services/{{ service_id }}/proxy.json"
    method: PATCH
    body: "access_token={{access_token.stdout}}&api_backend=http%3A%2F%2Ffuse.microservices.svc.cluster.local%3A8182"
    status_code: 200
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  tags:
     - 3scale_config
- name: Read Proxy latest config
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/services/{{ service_id }}/proxy/configs/sandbox/latest.json"
    method: GET
    body: "access_token={{access_token.stdout}}"
    status_code: 200
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  register: proxy_config
  tags:
     - 3scale_config
- set_fact:
    fuse_service_token: "{{ proxy_config.json | json_query('proxy_config.content.backend_authentication_value') }}"
  tags:
    - 3scale_config
- debug:
    msg: "service_token: {{fuse_service_token}}"
  tags:
    - 3scale_config
- lineinfile:
    dest: group_vars/all
    regexp: '^fuse_service_token:'
    line: "fuse_service_token: {{ fuse_service_token }}"
  tags:
    - 3scale_config
- name: Get Fuse Swagger Doc
  uri:
    url: "https://raw.githubusercontent.com/latam-tech-office/forum2017/master/rhtravel_swagger.json"
    method: GET
    status_code: 200
  register: fuse_swagger_doc
  tags: 
    - 3scale_config
- name: Crete ActiveDocs Spec
  uri:
    url: "http://system-provider.3scale.svc.cluster.local:3000/admin/api/active_docs.json"
    method: POST
    body: "access_token={{access_token.stdout}}&name=RHTravelSpec&system_name=rhtravel_spec&description=RH+Travel+ActiveDocs&published=true&body={{ fuse_swagger_doc }}"
    status_code: 201
    headers:
      Content-Type: "application/x-www-form-urlencoded"
    validate_certs: no
  register: active_docs_spec
  tags:
     - 3scale_config

